@page
@model NewsWebsite.Pages.AdminHomeModel
@{
}

@{
    Layout = "Admin_Layout";
    ViewData["Title"] = "AdminHome";
}

<div class="main_content">
    <div class="Name">

        <h4 class="Title">Welcome to Admin Home page</h4>

    </div>        <br />
    <br />
    <br />
    <br />
</div>
