@page
@model NewsWebsite.Pages.ChangePasswordModel
@{
    Layout = "Customer_Layout";
    ViewData["Title"] = "ChangePassword";
}
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

<div>
    <form method="post" enctype="multipart/form-data">
        <div class="add_game_form">
            <h1>Customer Change-Password</h1>
            <hr>
            <div class="main_content">
                @*<p class="TextBox">*@

                <label asp-for="customer.ID"><b>PersonID:</b></label>
                <span asp-validation-for="customer.ID"></span>
                <input readonly  type="text" asp-for="customer.ID" placeholder="Enter Name">

                <label asp-for="customer.Password"><b>Password:</b></label>
                <span asp-validation-for="customer.Password"></span><br>
                <input type="password" asp-for="customer.Password" placeholder="Enter Username"><br><br>
                <!--<--><!--div class="main_content">
                    <form method="post" class="login">
                        <h4 class="Title">Reset password</h4>

                        <p class="TextBox" style="text-align: center">    @ViewData["Message"] </p>
                        <br />

                        <label asp-for="customer.ID">ID: </label>
                        <span asp-validation-for="customer.ID"></span>
                        <input type="text" asp-for="customer.ID" class="TextBox" />
                        <br />

                        <label asp-for="customer.Password">  Password: </label>
                        <span asp-validation-for="customer.Password"></span>
                        <input asp-for="customer.Password" class="TextBox" />
                        <br />-->
                        <button class="button"> Update-Password </button>
    </form>        <br />
</div>
    <br />
    <br />
    <br />
@*</div>*@

