@page
@model NewsWebsite.Pages.CustomerContactModel

@*@model SynthesisWebsite.Pages.CustomerPorfileModel*@
@{
    Layout = "Customer_Layout";
    ViewData["Title"] = "CustomerContact";
}

<form method="post" enctype="multipart/form-data">
    <div class="add_game_form">
        <h1>Add Contact for Customer</h1>
        <hr>
        <div class="main_content">
            @*<p class="TextBox">*@
            <p>@ViewData["Msg"]</p>
            <label asp-for="customer.ID"><b>PersonID:</b></label>
            <span asp-validation-for="customer.ID"></span>
            <input type="text" asp-for="customer.ID" placeholder="Enter Name">

            <label asp-for="customer.FirstName"><b>FirstName:</b></label>
            <span asp-validation-for="customer.FirstName"></span><br>
            <input type="text" asp-for="customer.FirstName" placeholder="Enter Username"><br><br>

            <label asp-for="customer.Email"><b>Customer-Email:</b></label>
            <span asp-validation-for="customer.Email"></span>
            <input asp-for="customer.Email" type="text" placeholder="Enter NewsId">


            <label asp-for="SubJect"><b>Message:</b></label>
            <span asp-validation-for="SubJect"></span><br>
            <textarea asp-for="SubJect" placeholder="Write a description" rows="10" cols="100"></textarea><br>
            <hr>

            <button type="submit" class="add_game_btn">Add</button>
        </div>
    </div>
</form>

