@page
@model NewsWebsite.Pages.SubscriptionModel
@{
    Layout = "Customer_Layout";
    ViewData["Title"] = "Subscriptions";
}
    <div class="container">
    <h2>Choose Your Subscription Plan For News Today</h2>
    <div class="price-row">
        <div class="price-col">
            <p>Basic</p>
            <h3>£5 <span> / Month</span></h3>
            <ul>
                <li>Receive Updated Of Our News-Website</li>
            </ul>
            <button><a asp-area="" asp-page="Basic">Subscribe</a></button>
        </div>
        <div class="price-col">
            <p>Premium</p>
            <h3>£15 <span> / Month</span></h3>
            <ul>
                <li>Receive Updated Of Our News-Website</li>
            </ul>
           <button><a asp-area="" asp-page="Premiun">Subscribe</a></button>
          
        </div>
        <div class="price-col">
            <p>Vip</p>
            <h3>£35 <span>/ Month</span></h3>
            <ul>
                <li>Receive Updated Of Our News-Website</li>
            </ul>
            <button><a asp-area="" asp-page="Vip">Subscribe</a></button>
           
        </div>

    </div>
</div>
  @*</body>
</html>*@


